<form action="/cart" method="POST">
  <button class="btn" type="submit">Add to Cart</button>
  
  <!-- Adding the type of hidden so it dosent show up in the html page
      but allows us to extract the id and pass over data -->
  <input type="hidden" name="productId" value="<%= product.id %>">
</form>
